In [1]:
import pandas as pd
df = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\SERGIPE.xlsx", sheet_name="Área colhida (Hectares)")
display(df)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Amparo do São Francisco (SE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,Aquidabã (SE),-,162,-,-,-,-,4,-,-,...,-,-,-,-,-,-,-,-,-,-
2,Aracaju (SE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Arauá (SE),-,18,-,-,-,-,18,-,-,...,-,-,-,18,-,-,-,-,-,-
4,Areia Branca (SE),-,-,-,-,-,-,64,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Siriri (SE),-,2,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
71,Telha (SE),-,-,-,-,-,-,-,138,-,...,-,-,-,-,-,-,-,-,-,-
72,Tobias Barreto (SE),-,-,-,-,-,-,4,-,-,...,-,-,-,-,-,-,-,-,-,-
73,Tomar do Geru (SE),-,-,-,-,-,-,10,-,-,...,-,-,-,-,-,-,-,-,-,-
74,Umbaúba (SE),-,5,-,-,-,-,10,-,-,...,-,-,-,90,-,-,-,-,-,-

In [2]:
new_df = []
for culture in df.columns[1:]:
    for index, row in df.iterrows():
        value = row[culture]
        if value != '-':
            new_df.append({
                'Cidade': row['Município'],
                'Área colhida (Hectares)': value,  
                'Nome': culture
            })
newdf = pd.DataFrame(new_df)
display(newdf)

                     Cidade  Área colhida (Hectares)       Nome
0             Aquidabã (SE)                      162   Abacaxi*
1                Arauá (SE)                       18   Abacaxi*
2               Capela (SE)                        7   Abacaxi*
3    Cedro de São João (SE)                        1   Abacaxi*
4        Cristinápolis (SE)                        4   Abacaxi*
..                      ...                      ...        ...
526          Pedrinhas (SE)                        8  Tangerina
527            Umbaúba (SE)                       90  Tangerina
528            Lagarto (SE)                      100     Tomate
529       Ribeirópolis (SE)                       60     Tomate
530         Simão Dias (SE)                      100     Tomate

[531 rows x 3 columns]

In [3]:
df2 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\SERGIPE.xlsx", sheet_name="Quantidade produzida (Tonela...")
display(df2)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Amparo do São Francisco (SE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,Aquidabã (SE),-,4383,-,-,-,-,5,-,-,...,-,-,-,-,-,-,-,-,-,-
2,Aracaju (SE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Arauá (SE),-,396,-,-,-,-,25,-,-,...,-,-,-,216,-,-,-,-,-,-
4,Areia Branca (SE),-,-,-,-,-,-,128,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Siriri (SE),-,50,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
71,Telha (SE),-,-,-,-,-,-,-,975,-,...,-,-,-,-,-,-,-,-,-,-
72,Tobias Barreto (SE),-,-,-,-,-,-,4,-,-,...,-,-,-,-,-,-,-,-,-,-
73,Tomar do Geru (SE),-,-,-,-,-,-,16,-,-,...,-,-,-,-,-,-,-,-,-,-
74,Umbaúba (SE),-,125,-,-,-,-,18,-,-,...,-,-,-,1350,-,-,-,-,-,-

In [4]:
new_df2 = []
for culture in df2.columns[1:]:
    for index, row in df2.iterrows():
        value = row[culture]
        if value != '-':
            new_df2.append({
                'Cidade': row['Município'],
                'Produção (toneladas)': value,  
                'Nome': culture
            })
newdf2 = pd.DataFrame(new_df2)
display(newdf2)
newdf["Produção (toneladas)"] = newdf2['Produção (toneladas)']

                     Cidade  Produção (toneladas)       Nome
0             Aquidabã (SE)                  4383   Abacaxi*
1                Arauá (SE)                   396   Abacaxi*
2               Capela (SE)                   189   Abacaxi*
3    Cedro de São João (SE)                    20   Abacaxi*
4        Cristinápolis (SE)                   100   Abacaxi*
..                      ...                   ...        ...
526          Pedrinhas (SE)                   104  Tangerina
527            Umbaúba (SE)                  1350  Tangerina
528            Lagarto (SE)                  3600     Tomate
529       Ribeirópolis (SE)                  1560     Tomate
530         Simão Dias (SE)                  3500     Tomate

[531 rows x 3 columns]

In [5]:
newdf.to_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados SERGIPE.xlsx", sheet_name="Planilha 1", index=False)