In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe1 = pd.read_excel("Estado - Cultura.xlsx")
dataframe2 = pd.read_excel("Somátorio Cidade.xlsx")
dataframe3 = pd.read_excel("Cidade - Cultura.xlsx")

In [3]:
display(dataframe1)
display(dataframe2)
display(dataframe3)

    Estado                       Cultura  Resíduos (t)    Biochar (t)
0       AL                       Abacate  7.927500e+02     198.187500
1       AL                       Abacaxi  4.869097e+04   12172.741875
2       AL                          Açaí  1.444380e+03     361.095000
3       AL  Algodão herbáceo (em caroço)  5.895225e+02     147.380625
4       AL           Amendoim (em casca)  6.529771e+04   16324.427697
..     ...                           ...           ...            ...
266     SE                      Maracujá  1.120700e+04    2801.750000
267     SE                      Melancia  1.924125e+03     481.031250
268     SE               Milho (em grão)  1.286289e+06  321572.159549
269     SE                     Tangerina  1.155504e+03     288.876000
270     SE                        Tomate  9.100000e+02     227.500000

[271 rows x 4 columns]

                            Cidades  Resíduos (t)   Biochar (t)
0                São Desidério (BA)  4.626670e+06  1.156667e+06
1         Formosa do Rio Preto (BA)  4.043403e+06  1.010851e+06
2      Baixa Grande do Ribeiro (PI)  2.555394e+06  6.388485e+05
3                       Balsas (MA)  2.278850e+06  5.697126e+05
4                       Uruçuí (PI)  2.174588e+06  5.436469e+05
...                             ...           ...           ...
1780                São Rafael (RN)  1.335112e+01  3.337779e+00
1781         Jacaré dos Homens (AL)  1.312280e+01  3.280701e+00
1782  Santa Cruz do Capibaribe (PE)  1.199045e+01  2.997612e+00
1783   Caiçara do Rio do Vento (RN)  8.360669e+00  2.090167e+00
1784               Ouro Branco (AL)  7.910000e+00  1.977500e+00

[1785 rows x 3 columns]

,Cidade,Cultura,Resíduos (t),Biochar (t)
0,São Desidério (BA),Soja (em grão),3.791354e+06,947838.421250
1,Formosa do Rio Preto (BA),Soja (em grão),3.541489e+06,885372.271875
2,Luís Eduardo Magalhães (BA),Soja (em grão),1.722623e+06,430655.793750
3,Baixa Grande do Ribeiro (PI),Soja (em grão),1.691727e+06,422931.801250
4,Barreiras (BA),Soja (em grão),1.635344e+06,408835.879375
...,...,...,...,...
15783,Iramaia (BA),Amendoim (em casca),4.324488e-02,0.010811
15784,Cruz das Almas (BA),Amendoim (em casca),4.118560e-02,0.010296
15785,Inhambupe (BA),Amendoim (em casca),3.912632e-02,0.009782
15786,Ibirapuã (BA),Amendoim (em casca),3.912632e-02,0.009782
15787,Itaquara (BA),Amendoim (em casca),3.706704e-02,0.009267

In [ ]:
rendimento_biochar = 0.25 
n_iter = 10000  
desvio_padrao_rendimento = rendimento_biochar * 0.05  

def monte_carlo_simulation(residuo_biomassa):
    resultados = []
    for _ in range(n_iter):
     
        rendimento_conversao = np.random.normal(rendimento_biochar, desvio_padrao_rendimento)
        quantidade_biochar = residuo_biomassa * rendimento_conversao
        resultados.append(quantidade_biochar)
    
    
    return np.mean(resultados)

def apply_simulation(df):
    df['média biochar (t)'] = df['Resíduos (t)'].apply(monte_carlo_simulation)
    return df
    
df1 = apply_simulation(dataframe1)
df2 = apply_simulation(dataframe2)
df3 = apply_simulation(dataframe3)

In [5]:
display(df1)
display(df2)
display(df3)

,Estado,Cultura,Resíduos (t),Biochar (t),média biochar (t)
0,AL,Abacate,7.927500e+02,198.187500,197.979553
1,AL,Abacaxi,4.869097e+04,12172.741875,12173.734417
2,AL,Açaí,1.444380e+03,361.095000,361.342706
3,AL,Algodão herbáceo (em caroço),5.895225e+02,147.380625,147.335713
4,AL,Amendoim (em casca),6.529771e+04,16324.427697,16317.534266
...,...,...,...,...,...
266,SE,Maracujá,1.120700e+04,2801.750000,2803.177289
267,SE,Melancia,1.924125e+03,481.031250,480.646124
268,SE,Milho (em grão),1.286289e+06,321572.159549,321804.286697
269,SE,Tangerina,1.155504e+03,288.876000,288.984944
270,SE,Tomate,9.100000e+02,227.500000,227.320636

,Cidades,Resíduos (t),Biochar (t),média biochar (t)
0,São Desidério (BA),4.626670e+06,1.156667e+06,1.157553e+06
1,Formosa do Rio Preto (BA),4.043403e+06,1.010851e+06,1.010325e+06
2,Baixa Grande do Ribeiro (PI),2.555394e+06,6.388485e+05,6.386124e+05
3,Balsas (MA),2.278850e+06,5.697126e+05,5.697299e+05
4,Uruçuí (PI),2.174588e+06,5.436469e+05,5.436416e+05
...,...,...,...,...
1780,São Rafael (RN),1.335112e+01,3.337779e+00,3.336868e+00
1781,Jacaré dos Homens (AL),1.312280e+01,3.280701e+00,3.280891e+00
1782,Santa Cruz do Capibaribe (PE),1.199045e+01,2.997612e+00,2.999424e+00
1783,Caiçara do Rio do Vento (RN),8.360669e+00,2.090167e+00,2.090703e+00
1784,Ouro Branco (AL),7.910000e+00,1.977500e+00,1.977429e+00

,Cidade,Cultura,Resíduos (t),Biochar (t),média biochar (t)
0,São Desidério (BA),Soja (em grão),3.791354e+06,947838.421250,947676.675945
1,Formosa do Rio Preto (BA),Soja (em grão),3.541489e+06,885372.271875,885626.026275
2,Luís Eduardo Magalhães (BA),Soja (em grão),1.722623e+06,430655.793750,430640.617162
3,Baixa Grande do Ribeiro (PI),Soja (em grão),1.691727e+06,422931.801250,423150.222301
4,Barreiras (BA),Soja (em grão),1.635344e+06,408835.879375,408374.561596
...,...,...,...,...,...
15783,Iramaia (BA),Amendoim (em casca),4.324488e-02,0.010811,0.010814
15784,Cruz das Almas (BA),Amendoim (em casca),4.118560e-02,0.010296,0.010303
15785,Inhambupe (BA),Amendoim (em casca),3.912632e-02,0.009782,0.009783
15786,Ibirapuã (BA),Amendoim (em casca),3.912632e-02,0.009782,0.009787
15787,Itaquara (BA),Amendoim (em casca),3.706704e-02,0.009267,0.009266

In [6]:
df1.to_excel("Estado - Cultura_montecarlo.xlsx", index=False)
df2.to_excel("Somátorio Cidade_montecarlo.xlsx", index=False)
df3.to_excel("Cidade - Cultura_montecarlo.xlsx", index=False)